*.ts text eol=lf
/CHANGELOG.md merge=union eol=lf text
*.sh text eol=lf
# Diff UTF-16LE *.rc Windows resource scripts
*.rc diff=rcdiff
# Add to your ~/.gitconfig:
#[diff "rcdiff"]
#        textconv = "iconv -f utf-16le -t utf-8"
# Use LFS for everything under deps/built/
# While file extension globs are pretty good for most LFS files,
# these directories contain macOS/Linux executables with no
# extension, which can't be easily globbed.
deps/built/*/** filter=lfs diff=lfs merge=lfs -text
# Don't use LFS for symlinks (used for .so and .so.# in Linux
# deps).  This isn't needed on Unix platforms as Git LFS already
# knows to ignore symlinks, but on Windows, symlinks are not used
# by default, which confuses LFS into trying to convert them.
deps/built/linux/**/*.so !filter !diff !merge
deps/built/linux/**/*.so.? !filter !diff !merge

# Missing lfs files after migration
deps/zip/zip.exe filter=lfs diff=lfs merge=lfs -text
tools/crash_test_dll/crashtest.dll filter=lfs diff=lfs merge=lfs -text

# dump_syms binaries - similar to deps/built, contains
# extensionless macOS binary
deps/dump_syms/** filter=lfs diff=lfs merge=lfs -text
# File types to store in LFS
*.sys filter=lfs diff=lfs merge=lfs -text
*.cat filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.sketch filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
