[Desktop Entry]
Type=Application
Name={{BRAND_NAME}}
Comment={{BRAND_NAME}} VPN client
Path=/opt/{{BRAND_CODE}}vpn/bin/
Exec=env XDG_SESSION_TYPE=X11 /opt/{{BRAND_CODE}}vpn/bin/{{BRAND_CODE}}-client %u
Icon={{BRAND_CODE}}vpn
Terminal=false
Categories=Network
StartupWMClass={{BRAND_CODE}}-client
MimeType=x-scheme-handler/{{BRAND_CODE}}vpn
Keywords=VPN;PIA;
